body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 56px;
    background-color: #FFFFFF;
    line-height: 1.1;
}

.button {
    cursor: pointer;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    :hover, :focus {
            background-color: #404BBF;  
    }
}

button:hover, button:focus {
    background-color: #404BBF;   
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    .span {
        color: #2e2f42;
    }
}

.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    :hover {
        color: 404bbf;
    }
}

.address {
    font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        :hover, :focus {
            color: #404bbf;
        }
}

.span {
    color: #F4F4FD;

.main {
    background-color: #2e2f42;
}

.head {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.adv-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.adv-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-sect {
    background-color: #F4F4FD;
}

.team-sect-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-card-head {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-card-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-sect-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-card-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-card-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
}

.footer-par {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}